<div  class="w-full">
    <div class="flex flex-col items-center gap-4 font-serif font-bold">
        <span class=" my-8 font-bold text-2xl text-white ">{{title}} </span>
        <a routerLink="/admin/dashboard" [routerLinkActive]="'active'"> 
            <div class="p-4  flex justify-around gap-2 items-center">
            <fa-icon   [icon]="fadash" class="text-xl  "></fa-icon>
            <h2 class=" ">Dashboard</h2>
            </div>
            </a>
        <a routerLink="/admin/userslist" [routerLinkActive]="'active'" > 
            <div class="p-2  flex justify-around gap-2 ">
                <fa-icon [icon]="fauserlist" class="text-xl"></fa-icon>
            <h2 class="">User List</h2>
            </div>   
        </a>
        <a routerLink="/admin/customerlist" [routerLinkActive]="'active'"> 
            <div class="p-2  flex justify-around gap-1 ">
                <fa-icon [icon]="fauserlist" class="text-xl"></fa-icon>
            <h2 class="">Customer List</h2>
            </div> 
        </a>
        <a routerLink="/admin/editproduct" [routerLinkActive]="'active'"> 
            <div class="p-2  flex justify-around gap-1 ">
                <fa-icon [icon]="facart"></fa-icon>
            <h2 class="">Edit Product</h2>
            </div>
        </a>
            <div class="p-2  flex justify-around gap-1 " >
                <fa-icon [icon]="falogout"></fa-icon>
                <h2 class="" (click)="logout()">LogOut</h2>
            </div>
    </div>  
</div>
