<div class="w-full bg-white py-12 px-8">
    <table class="h-auto w-full gap-2 " >
        <thead class="border-4 bg-green-200 text-center">
            <tr>
                <td>S.N</td>
                <td>Order Status</td>
            </tr>
        </thead>
        <ng-container *ngFor="let item of orderlist ; let x=index">
            <tbody class="border-4 text-center " >
                <tr class="border h-16 py-8 ">
                  <td class="border-2 ">{{x+1}}</td>
                  <td class="w-full">
                    <ng-container *ngFor="let order of item.order ; let o=index">
                        <div class="flex flex-wrap  py-4">
                            <div class="flex flex-1 flex-col leading-tight " >
                                <p>Order:{{o+1}}</p>
                                <p>Name:{{order.ordername}}</p>
                            </div>
                            <div class="flex flex-1 flex-col">
                                <p>Quantity: {{order.orderquantity}}</p>
                                <!-- <p>Price: {{order.orderprice}} </p> -->
                            </div>
                            <div class="flex flex-1 flex-col">ResturantOrder:{{o+1}}
                                <p>{{order.orderbrandname}} </p>
                            </div>
                            <div class="flex flex-1 flex-col">
                                <label *ngIf="order.suborderstatus=== 'request'"> Order
                                    <fa-icon [icon]="farequest" class="text-blue-500 me-2 text-2xl"   ></fa-icon></label> 
                                <div class="bg-blue-500 h-4 w-2/12 rounded-full" *ngIf="order.suborderstatus==='request'"></div>
                                <label *ngIf="order.suborderstatus=== 'preparing'"> Preparing
                                    <fa-icon [icon]="fapreparing" class="text-blue-300 me-2 text-2xl"  ></fa-icon></label> 
                                <div class="bg-blue-300 h-4 w-5/12 rounded-full" *ngIf="order.suborderstatus=== 'preparing'"></div>
                                <label *ngIf="order.suborderstatus=== 'delivering'"> Delivering...  
                                    <fa-icon [icon]="fatruck" class="text-green-300 me-2 text-2xl"  ></fa-icon></label> 
                                <div class="bg-green-300 h-4 w-9/12 rounded-full" *ngIf="order.suborderstatus=== 'delivering'"></div>
                                <label *ngIf="order.suborderstatus=== 'completed'"> Completed...  
                                    <fa-icon [icon]="facomplete" class="text-green-500 me-2 text-2xl"  ></fa-icon></label> 
                                <div class="bg-green-500 h-4 w-/12 rounded-full" *ngIf="order.suborderstatus=== 'completed'"></div> 
                                <label *ngIf="order.suborderstatus=== 'failed'"> Failed 
                                    <fa-icon [icon]="fafail" class="text-red-500 me-2 text-2xl"   ></fa-icon></label> 
                                <div class="bg-red-500 h-4 w-/12 rounded-full" *ngIf="order.suborderstatus=== 'failed'"></div> 
                            </div>
                        </div>
                    </ng-container>
                  </td>               
                </tr>
              </tbody>
            </ng-container>
            </table>
</div>