
  
  html  body{
        background-color:#36454f;
        color: rgb(154, 255, 40);
        font-size: large;
        font-family:Verdana, Geneva, Tahoma, sans-serif,'Times New Roman', Times, serif;
        font-weight:bold;
        height: 100%;
        width: 100%;
    }

    
    .header{
      display: flex;
      flex-direction: column;
      
    }
    .topheader{
      font-size: small;
      display: flex;
      flex-direction: row;
      /* margin-left: auto;
      margin-right: 25px; */
      justify-content:left;
    }

    .topheader div{
      margin-left: 20px;
    }
    
      .navbar{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: bottom;
      }
      .logo{
        text-align: left;
        flex: 1;
        order: 0;
        font-size: 3em
      }

      .twowheel{
        
        flex: 1;
        order: 0;
        border: 1px solid rgb(154, 255, 40);
        border-radius: 9px;
        text-align: center;
        height: 27px;
        margin-left: 300px; 
        margin-right: 10px;   
      }
      .twowheel:hover{
        background-color: rgb(154, 255, 40);
        color: #36454f;
        margin-right: 10px;
      }
      .fourwheel{
        flex:1;
        order: 0;
        border: 1px solid rgb(154, 255, 40);
        border-radius: 9px;
        height: 27px;
        text-align: center;
        margin-right: 10px;
    
      }
      .fourwheel:hover{
        background-color: rgb(154, 255, 40);
        color: #36454f;
        margin-right: 10px;
      }
      .gallery{
        order: 0;
        flex: 1;
        border: 1px solid rgb(154, 255, 40);
        border-radius: 9px;
        height: 27px;
        text-align: center;
        margin-right: 10px;
      }
      .gallery:hover{
        background-color: rgb(154, 255, 40);
        color: #36454f;
        margin-right: 10px;
      }
      .about{
      order: 0;
        flex: 1;
        border: 1px solid rgb(154, 255, 40);
        border-radius: 9px;
        height: 27px;
        text-align: center;
        margin-right: 10px;
      }
      .about:hover{
        background-color: rgb(154, 255, 40);
        color: #36454f;
        margin-right: 10px;
      }
      .home{
        flex:1;
        margin-right: 20px;
        order: 0;
        border: 1px solid rgb(154, 255, 40);
        border-radius: 9px;
        height: 27px;
        text-align: center;
        
      }
      .home:hover{
        background-color: rgb(154, 255, 40);
        color: #36454f;
        margin-right: 20px;
      }
      @media screen and (max-width: 1000px) {
        .twowheel{
          margin-left: 100px;
        }
      }

    @media screen and (max-width: 500px) {
      .navbar{
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 30px;
        margin-left: 0px;

      }
      .logo{
        flex: 1 1 100%;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 120px;
        font-size: 4em;
      }
      .twowheel{
        flex: 1 1 100%;
        align-content: left;
        margin-bottom: 10px;
        width: 120px;
      margin-left: 0px;
      }
      .fourwheel{
       
        flex: 1 1 100%;
        margin-bottom: 10px;
        width: 120px;
        
      }
      .gallery{
       
        flex: 1 1 100%;
        margin-bottom: 10px;
        width: 120px;
      }
      .about{
        
        flex: 1 1 100%;
        margin-bottom: 10px;
        width: 120px;
      }
      .home{
        margin-right: 10px;
        flex: 1 1 100%;
        margin-bottom: 10px;
        width: 120px;
      }
    }
      




