<div class="w-full bg-white py-12 px-8">
    <ng-container>
        <table class="h-auto w-full gap-2 " >
            <thead class="border-4 bg-green-200 text-center">
                <tr>
                    <td>S.N</td>
                    <td>Details</td>
                    <!-- <td>Order Status</td> -->
                </tr>
            </thead>
            <tbody class="border-4 text-center" *ngFor="let item of orderlist; let i = index">
                <tr class="border h-16 py-8" >
                  <td class="border-2 ">{{ i + 1 }}</td>
                  <td class="w-full flex-col sm:flex-col md:flex-row md:w-11/12 justify-center items-center">
                    <ng-container *ngFor="let orderItem of item.order; let j = index">
                  
                      <div class="flex w-11/12 flex-col gap-4 items-center">
                        <div class="my-4 rounded-lg bg-green-200 w-10/12 p-4">
                          <h2>Order: {{ j + 1 }}</h2>
                          <p>Name: {{ orderItem.ordername }}</p>
                          <p>From: {{ orderItem.orderbrandname }}</p>
                          <p>Quantity: {{ orderItem.orderquantity }}</p>
                          <p>Actual Price:$ {{orderItem.orderprice }}</p>
                          <p > Price :$ {{orderItem.ordertotalprice}}</p>
                        </div>
                      </div>
                    </ng-container>
                    <div class="items-baseline p-4  align-middle">
                    
                      <p>Time: {{ item.time }}</p>
                      <p>Grand total:<span class="text-red-500 text-2xl font-semibold">{{total[i]|currency}}</span><span class="text-red-600"> (delivery fee excluded)</span> </p>
                    </div>
                    <div class="flex justify-center text-orange-500 gap-8 w-full">
                      <p>Delivery fee inside RingRoad: $100</p>
                      <p>Delivery fee inside Outside RingRoad: $150</p>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot class="w-full">
            
              </tfoot>
        </table>
    </ng-container>
</div>