<!--  layout for admin panel with sidebar, headers, and contents -->
<div class="flex justify-start w-full h-screen ">
        <div class="  opacity-60 w-2/12 p-8  h-full fixed left-0 top-0  bg-green-950 shadow-lg shadow-green-700 text-white">
            <app-sidenav ></app-sidenav>
        </div>
        <div class="flex flex-col gap-4  w-10/12 h-full fixed top-0 right-0  ">
            <div class="  py-6 bg-green-50 shadow-md items-center ">
                <app-header></app-header>
            </div>
            <div class="h-full overflow-auto p-8 ">
                <router-outlet ></router-outlet>
            </div>
        </div>
</div>