<div class="flex flex-row w-full h-16 bg-green-50 items-center justify-around  fixed top-0  shadow-md shadow-green-300">
    <div class=" sm:2/12 md:4/12  md:ms-12 ms-4 items-center  ">
        <div class="md:text-3xl sm:text-lg text-md font-bold font-serif text-orange-600"><a routerLink="/home"  >HamroResturant</a></div>
    </div>
    <div class="navmenu sm-8/12 md:w-6/12 md:flex  hidden justify-start gap-8  items-center text-base">
        <form class="self-start w-full items-center">
            <input type="search " class="w-6/12 h-10 rounded-lg " placeholder="  Search">
            <button  class="ms-4 bg-green-200 hover:bg-green-400 text-black font-bold py-1 px-4 md:py-2 md:px-3 rounded-full focus:outline-none focus:shadow-outline-green">Search</button>
        </form>
        
            <!-- <div *ngIf="!isloggedin"><a routerLink="about" [routerLinkActive]="'active'">About</a></div>
            <div *ngIf="!isloggedin"><a routerLink="contact" [routerLinkActive]="'active'">Contact</a></div> -->
            <div class="flex gap-6  justify-end md-ms-auto items-baseline   text-black" >
                    <button *ngIf="!customerloggedin" class="  text-green-700 hover:text-green-300 font-semibold     text-md"><a routerLink="signup" [routerLinkActive]="'active'">Signup</a></button>
                    <button *ngIf="!customerloggedin" class="  text-green-700 hover:text-green-300 font-semibold     text-md " ><a routerLink="signin" [routerLinkActive]="'active'">SignIn</a></button>
                    <fa-icon [icon]="faprofile"  *ngIf="customerloggedin" class=" profileicon-container text-black font-semibold  text-2xl bg-green-500 "  ></fa-icon>
                    <fa-icon [icon]="falogout"  *ngIf="customerloggedin" class="  text-green-700 hover:text-green-300 font-semibold     text-2xl" (click)="customerloggedout()" ></fa-icon>
            </div>
    </div>
    
</div>
<!-- <div class="mobilenav md:hidden lg:hidden flex flex-col bg-gray-500 py-4 " *ngIf="toggle">
        <div  class="w-full bg-gray-500 hover:bg-gray-400 ps-4 " (click)="changetogglestate()"><a routerLink=""  [routerLinkActiveOptions]="{exact:true}"  [routerLinkActive]="'active'">Home</a></div>
        <div *ngIf="!isloggedin" class="w-full bg-gray-500 ps-4" (click)="changetogglestate()"><a routerLink="/about" [routerLinkActive]="'active'" >About</a></div>
        <div *ngIf="!isloggedin" class="w-full bg-gray-500 ps-4" (click)="changetogglestate()"><a routerLink="/contact" [routerLinkActive]="'active'">Contact</a></div>


        
        
        <div *ngIf="isloggedin" class="w-full bg-gray-500 ps-4" (click)="changetogglestate()"><a routerLink="myorders" [routerLinkActive]="'active'">My Orders</a></div>
        <div *ngIf="isloggedin" class="w-full bg-gray-500 ps-4" (click)="changetogglestate()"><a routerLink="mycart" [routerLinkActive]="'active'">My Carts</a></div>
    </div> -->