<div class="flex flex-row w-full h-16 bg-green-50 items-center justify-around mb-1   shadow-md shadow-green-300">
    <div class=" sm:2/12 md:4/12  md:ms-12 ms-4 items-center  ">
        <div class="md:text-3xl sm:text-lg text-md font-bold font-serif text-orange-600"><a routerLink="/home"  >HamroResturant</a></div>
    </div>
   
    <div class="navmenu sm-8/12 md:w-6/12 md:flex  hidden justify-start gap-8  items-center text-base">
        <div class="flex ">
            <button type="button" [matMenuTriggerFor]="FoodCategory">Category
            </button>
            <fa-icon [icon]="fadown"  class="  text-orange-700  font-semibold   ms-2  text-2xl" ></fa-icon>

        </div>
         <mat-menu #FoodCategory  yPosition="above">
                <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl" (click)="selectedcategory('all')" ><fa-icon [icon]="fasnack" class="text-orange-400 me-2"  ></fa-icon>All </menu>
                <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl" (click)="selectedcategory('snacks')" ><fa-icon [icon]="fasnack" class="text-orange-400 me-2"  ></fa-icon>Snack </menu>
                <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold    text-2xl" (click)="selectedcategory('foods')"><fa-icon [icon]="fafood" class="text-orange-400 me-2"    ></fa-icon>Food</menu>
                <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl" (click)="selectedcategory('sweets')"><fa-icon [icon]="fasweet" class="text-orange-400 me-2"   ></fa-icon>Sweets</menu>
                <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"(click)="selectedcategory('drinks')"><fa-icon [icon]="fadrink" class="text-orange-400 me-2"   ></fa-icon>Drink</menu>
         </mat-menu>

            <input  class="w-6/12 h-10 rounded-lg "  [(ngModel)]="searchterm" placeholder="  search {{this.categorysearch}}..." (input)="onSearchTextChanged()">
        
            <div class="flex gap-6  justify-end md-ms-auto items-baseline   text-black" >
                    <button *ngIf="!customerloggedin" class="  text-green-700 hover:text-green-600 font-semibold     text-md"><a routerLink="signup" [routerLinkActive]="'active'">Signup</a></button>
                    <button *ngIf="!customerloggedin" class="  text-green-700 hover:text-green-600 font-semibold     text-md " ><a routerLink="signin" [routerLinkActive]="'active'">SignIn</a></button>
                    
                </div>
                <button type="button" [matMenuTriggerFor]="settingsMenu">
                    <fa-icon [icon]="faprofile"  *ngIf="customerloggedin" class=" profileicon-container text-black font-semibold  text-2xl bg-green-500 "  ></fa-icon>
                </button>
                <mat-menu #settingsMenu>
                    <menu mat-menu-item (click)="viewcustomerprofile()" class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"><fa-icon [icon]="faprofile" class="text-orange-400 me-2"   ></fa-icon>Profile</menu>
                    <a routerLink="customer/favourite" [routerLinkActive]="'active'">
                        <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"><fa-icon [icon]="fafavroute" class="text-orange-400 me-2"   ></fa-icon> Favourite List</menu>
                    </a>
                    <a routerLink="customer/orders" [routerLinkActive]="'active'">
                        <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"><fa-icon [icon]="faorder" class="text-orange-400 me-2"   ></fa-icon> Order List</menu>
                    </a>
                    <a routerLink="category/orderstatus" [routerLinkActive]="'active'">
                        <menu mat-menu-item class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"><fa-icon [icon]="faorderstatus" class="text-orange-400 me-2"   ></fa-icon> Delivery Status</menu>
                    </a>
                        <menu mat-menu-item (click)="customerloggedout()"*ngIf="customerloggedin" class="  text-orange-700 hover:text-orange-600 font-semibold     text-2xl"><fa-icon [icon]="falogout" class="text-orange-400 me-2"   ></fa-icon> LogOut</menu>
                </mat-menu>
            </div>
    </div>
