<div class="w-full bg-white pt-4 pb-52 mt-8">
<div class="rounded  w-full  flex flex-row sm-flex-row md:flex-row flex-wrap content-center gap-6 justify-center my-8" >
    <div class="flex flex-col justify-center  sm:w-6/12 md:w-2/12 rounded-lg align-middle  overflow-hidden shadow-lg content-center items-center hover:bg-gray-200 bg-gray-100 my-4" 
     *ngFor="let item of sweetlist ">
      <div class="flex justify-end w-11/12 my-0 ">
  
        <button class="bg-blue-300 hover:bg-blue-500 float-right  text-white  border border-blue-400 font-bold py-2 px-4 my-2 rounded-full"  >
        </button>
      </div>
      <div class="relative overflow-hidden w-50 h-40">
      <img class=" transition-transform transform hover:scale-110 duration-700" src={{item.foodimageurl}} alt="Product Image">
    </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{item.foodname}}</div>
     
        <p class="text-gray-700 text-base">
          Price : $ {{item.foodprice}}     </p>
        </div>
       
        
        <div class=" flex flex-row gap-2 justify-evenly px-1 pb-4 pt-2">
          <button class="bg-transparent border border-blue-500  shadow-inner text-black hover:bg-blue-600 hover:text-white font-bold py-2 px-4 rounded-full"
          (click)="viewsweets(item.id)"  >
            Learn More
          </button>
          <button class="bg-transparent border border-green-500 shadow-xl text-black hover:bg-green-600 hover:text-white font-bold py-2 px-4 rounded-full" >
            Buy
          </button>
        </div>
        <p class="text-gray-500  text-sm">
            from :{{item.foodmakerbrand}}     </p>
      </div>
    </div>
</div>