
<div class="w-full bg-white ">
  <div class="rounded py-8 w-full flex flex-row sm-flex-col md:flex-row flex-wrap content-center gap-6 justify-center ">
    <ng-container  *ngFor="let item of foodlist">
      <ng-container *ngIf=" ((this.categoryselected === '' || this.categoryselected==='all')||(item.foodcategory === this.categoryselected))">
          <div class="flex flex-col justify-start w-10/12 sm:w-8/12 md:w-2/12 rounded-lg align-middle overflow-hidden shadow-lg content-center items-center bg-gray-100 my-4"
            *ngIf=" (searchText === '' || item.foodname.toLowerCase().includes(searchText) 
                  )"   >
               <div class="flex justify-end w-11/12 my-0"  >
                  <fa-icon [icon]="fabookmark" class="float-right mt-2 text-orange-600 text-3xl" (click)="markfood(item.id)"></fa-icon>
              </div>
      
                <div class="relative overflow-hidden w-50 h-40"  (click)="viewfood(item.id)">
                  <img class="transition-transform transform hover:scale-110 duration-300" [src]="item.foodimageurl" alt="Product Image"></div>
                  <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">{{ item.foodname }}</div><p class="text-gray-700 text-base">Price:  {{ item.foodprice |currency:'EUR':'symbol':'1.2-2'}}</p> </div>
                
                
                <div class="flex flex-row gap-2 justify-center  pb-4 pt-2">
              
                <button
                class="bg-transparent border border-green-400 text-lg shadow-xl text-black hover:bg-green-600 hover:text-white font-bold py-2 px-8 rounded-lg"
                (click)="buyfood(item.id)">Buy</button>
          </div>
              <p class="text-gray-500 text-center text-xs my-4">from: {{ item.foodmakerbrand  }}</p>
          </div>  
      </ng-container>
    </ng-container>
  </div>
</div>
<app-resturant></app-resturant>
<app-about></app-about>
